<% layout("layouts/boilerplate") %>
<body>
    <br>
    <h3>Create a New Listing</h3>
    <hr><br>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data" >

        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" placeholder="Enter title" name="listing[title]" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Title is invalid!</div>
        </div>
    

        <div class="mb-3">
            <label for="description" class="form-label">Description:</label><br>
            <textarea placeholder="Enter description" name="listing[description]" class="form-control" required></textarea>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Description is invalid!</div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input name="listing[image]" type="file" class="form-control" required>
            <small class="text-muted">Please upload an image below 8MB.</small>
             <div class="valid-feedback">Image uploaded successfully!</div>
            <div class="invalid-feedback">Please upload an image!</div>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input type="number" placeholder="Enter price" name="listing[price]" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Price is invalid!</div>
        </div>
        

        <div class="mb-3">
             <label for="location" class="form-label">Location:</label>
             <input type="text" placeholder="Enter location" name="listing[location]" class="form-control" required>
             <div class="valid-feedback">Looks good!</div>
             <div class="invalid-feedback">Location is invalid!</div>
        </div>
        

        <div class="mb-3">
             <label for="country" class="form-label">Country:</label>
            <input type="text" placeholder="Enter country"   name="listing[country]" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Country is invalid!</div>
        </div>
        <br>
        <button type="submit" class="btn btn-dark add-btn">Add</button>
    </form>
    
</body>
